a {
    text-decoration: none;
    color: black;
}
/* common container to center contents inside a container
it needs to be added on tags which are currently styled 
individually */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem; 
    padding-bottom: 2.5rem ;
}
.site-name > a {
    font-size: x-large;
    letter-spacing: 0.2rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-left: 0;
}
.nav-list > li > a {
    letter-spacing: 0.1rem;
}
.nav-list > li > a:hover {
    text-decoration: underline;
}

/* background-color: #f7f7f7; very subtle grey */
.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 75vh;
}
h1 {
    font-weight: 300;
    font-size: xxx-large;
    letter-spacing: 0.5rem;
}
.container-hero > p {
    letter-spacing: 0.05rem;
}

.container-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.exp-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.exp-content > .exp-header {
    width: 100%;
}
.exp-content > .exp-header > h2 {
    letter-spacing: 0.2rem;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.exp-content > .exp-header > .organization {
    opacity: 0.8;
    letter-spacing: 0.05rem;
    display: block;
    padding-bottom: 0.2rem;
}
.exp-content > .exp-header > .time-line {
    opacity: 0.6;
    letter-spacing: 0.05rem;
    display: block;
}
.exp-content > .exp-points {
    padding-left: 0.5rem;
    letter-spacing: 0.05rem;
}

.container-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.container-works > .work-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-item > .work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 70%;
}
.work-content > .work-title {
    letter-spacing: 0.15rem;
    font-weight: normal;
}
.work-content > .work-meta {
    letter-spacing: 0.05rem;
    opacity: 0.8;
}
.work-content > .work-desc {
    letter-spacing: 0.05rem;
    opacity: 0.6;
    margin-top: 0.75rem;
}
.work-content > .work-points {
    padding-left: 0.5rem;
    letter-spacing: 0.05rem;
}
.work-content > .work-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.work-content > .work-link > a{
    letter-spacing: 0.1rem;
}
.work-content > .work-link > a:hover {
    text-decoration: underline;
}


